{% extends 'dummy.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
  
{% endblock %}


{% block body_block %}
<style>
    body
    {
        margin:0px;
        background-image:url('{% static 'images/login2.jpg' %}');
        background-repeat:no-repeat;
        background-size:cover;
        background-position:0px 0px;
        background-attachment:fixed;
    }
    #six
    {
        background-color: rgb(255, 0, 179);
        margin-top: 5px;
        padding: 10px;
        color: whitesmoke;
        box-shadow: 0px 0px 10px rgb(16, 0, 0);
    } 
    form
    {

        background: rgb(29, 0, 0);
        width: 250px;
        height: 180px;
        margin-left: 650px;
        font-size: large;
        color: whitesmoke;
        padding: 15px;
        border-radius: 15px 0px 15px 0px;
        opacity: 0.5;
        margin-top: 10px;
    }
    
    input
    {
    border-radius: 10px;

    }
    #pwc
    {
        background: linear-gradient(to right,rgb(255, 0, 0),rgb(0, 255, 187));
        border-radius: 0px 15px 0px 15px;
        color: whitesmoke;
    }
    button
    {
        background:linear-gradient(to right,green,yellow);
        color: rgb(106, 0, 0);
        border: 2px solid whitesmoke;
        padding: 5px;
        font-size: 25px;
        border-radius: 15px 0px 15px 0px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        opacity: 0.7;
        
    }
    
</style>


    <h1 align=" center" id="six">Change Password Here</h1>
    <center>
        <button onclick="document.getElementById('form-tag').style.visibility='visible'">Click to Change Password</button>
    </center>

    <form action="" method="POST" id = 'form-tag' style="visibility: hidden;" onsubmit="return validate()">
        <span align="right" style="margin-left: 210px; border:2px solid white; cursor:pointer;" onclick="document.getElementById('form-tag').style.visibility='hidden'">X</span>
   
        
        {% csrf_token %}
        <label for="pw">Enter new password : </label>
        <input type="password" name="pw" id="pw"><br><br>
        <input type="submit" value="change_password" id="pwc">

    </form>

  

    <script>
        function validate()
        {
          
          var password=document.getElementById("pw").value;
  
          var regex=/\d/;
          var regex1=/^[a-z]/;
          var regex2=/\s/;
          var regex3=/^[0-5]/;
          var regex4=/[a-z-A-Z]/;


          if (password.length<6 || (password.trim()) == '')
          {
            alert("Your Password having atlest 6 characters");
            return false;
          }
          
          else
          {
            return true;
          }
        }


    </script>



{% endblock %}